<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="testing.energysistem.com.batterytest" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.location.GPS_ENABLED_CHANGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerVideoActivity"
            android:label="Reproductor" >
        </activity>
        <activity
            android:name=".ListaVideosActivity"
            android:label="Lista Videos" >
        </activity>
        <activity
            android:name=".RegistroActivity"
            android:label="Registro Bateria" >
        </activity>
        <activity
            android:name=".DatosDispositivoActivity"
            android:label="@string/title_activity_Datos">
        </activity>
        <activity
            android:name=".CaracteristicasActivity"
            android:label="@string/title_activity_caracteristicas" >
        </activity>
        <activity
            android:name=".ValoracionActivity"
            android:label="@string/title_activity_valoracion"></activity>
    </application>

</manifest>
